name: Weather Update

on:
  schedule:
    - cron: '0 21 * * *' # 6:00 JST (21:00 UTC previous day)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: '26.0'
          elixir-version: '1.15'

      - name: Install dependencies
        run: |
          mix deps.get

      - name: Generate iCalendar files
        run: |
          mix run -e 'WeatherGen.App.run()'

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc
